/*
Joseph P. Pasaoa
ImageSpot Component Styling | Joseph's Random Cat-Dog Image Fetcher (Hooks Lab Revision)
*/


.imagespot-bg-method {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
