/*
Joseph P. Pasaoa
NavBar Component Styling | Joseph's Random Cat-Dog Image Fetcher (Hooks Lab Revision)
*/


nav {
  grid-row: span 2;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);


  border-right: solid 4px #ddd;
  border-left: solid 4px #ddd;
}

.nav--link:link, .nav--link:visited  {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: blue;
}
